*{
	text-decoration: none;
	font-family:'PT Sans Narrow', sans-serif;
	
}
body{
	background-color: #24252a;
	position: relative;

}
header{
	top: 0px;
	z-index: 1;
	position: sticky;
	display: flex;
	justify-content: space-between;
	
	width: 100%;
	padding: 5px 3%;
	 background-color: #202027;
	
}
nav{
	
}
.logo{
	width: 250px;
}
li, a, button {
	display: inline-block;
	color: white;
}
li{

	margin-right: 50px;
}
li a{
	font-size: 27px;
}
button{
	border: none;
	border-radius: 50px;
	background-color: #333;

}

.button{
	padding: 20px;

	transition: opacity .5s;
	border-radius: 50px;

	
}
.button:hover{
	opacity: 0.5;
}


.capture{
	height: 100vh;
	width: 100%;
	background-image: url(capture.png);
	background-size: cover;
	background-attachment: fixed;

	
		
}
.contenido{
	position: relative;
	height: 100vh;

}
.aside{
	position: absolute;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 75px repeat(3, 1fr);
	padding: 2%;

	background-color: #111;
	top: -10px;

}
.flex-item{
	margin: 10px;

}
.borderedondo{
	position: absolute;
	top: -20px;
	height: 20px;
	background-color: #111;
	width: 100%;
	border-radius: 50px;
}
.aside__div1{

}
.titulo__aside{
	display: inline-block;
	margin: auto;
	margin-left: 0;
	
	grid-column: 4/7;
	grid-row: 1/2;
	color: white;

}
.texto__aside{
	
	color: white;
	grid-column: 4/7;
	grid-row: 2/4;
}
.gif{
	align-items: end;
	margin: auto;
	margin-top: 20px;
	grid-row: 1/3;
	grid-column: 1/3;
}

